/* Reinicio  //////////////////////////////////////////////////////////////////////////////////////////*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
}

/* Barra de navegación  //////////////////////////////////////////////////////////////////////////////*/

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 2px solid;
    height: 55px;
    padding: 0 15px;
}

.marca {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logo {
    width: 38px;
    height: 30px;
}

.titulo {
    font-size: 20px;
}

.span {
    color: #295FA7;
    font-size: larger;
}

.separacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.login input {
    height: 28px;
    width: 150px;
    border: 1px solid;
    border-radius: 3px;
    font-weight: normal;
    padding-left: 7px;
}

.login button {
    height: 28px;
    width: 55px;
    background-color: #2A5EA3;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
}

.login button:hover {
    background-color: #214D85;
}

.contador-libros {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.libros {
    width: 45px;
    height: 35px;
}

.contador-libros p {
    font-size: 13px;
}

.numero {
    margin-top: 17px;
    font-size: 18px;
    font-weight: bolder;
}

/* Contenedor Principal  /////////////////////////////////////////////////////////////////////////////*/

.contenedor-p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Categorias (texto e imagenes)  ////////////////////////////////////////////////////////////////////*/

.contenedor-imagenes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 85px;
    width: 1200px;
    background-color: #D2DDE8;
}

.imagen1, .imagen2, .imagen3, .imagen4, .imagen5, .imagen6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 65px;
    width: 105px;
    gap: 2px;
    background-color: #ECEFF4;
}

.imagen1 img, .imagen2 img, .imagen3 img, .imagen4 img, .imagen5 img, .imagen6 img {
    height: 42px;
    width: 42px;
}

.imagen1 p, .imagen2 p, .imagen3 p, .imagen4 p, .imagen5 p, .imagen6 p {
    color: black;
    font-weight: bold;
    font-size: 10px;
}

/* Fila principal (mantiene a las dos Secciones)  /////////////////////////////////////////////////////*/

.row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    margin-top: 25px;
}

/* Sección principal (Video) //////////////////////////////////////////////////////////////////////////*/

.seccion1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #CCCCCC;
    width: 750px;
    height: 300px;
    padding: 25px;
    gap: 20px;
}

.contenido-principal {
    width: 40%;
}

.seccion1 h1 {
    color: #152F48;
    font-size: 22px;
    margin-bottom: 10px;
}

.seccion1 h1 .span {
    color: #295FA7;
    font-size: 20px;
}

.contenido-principal p {
    margin-bottom: 10px;
    font-size: 11px;
}

/* Video  ////////////////////////////////////////////////////////////////////////////////////////////*/

.video-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin-top: 0;
}

video {
    width: 300px;
    height: 190px;
}

.video-contenedor p {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 11px;
    font-weight: bold;
    color: #152F48;
}

/* Sección de libros destacados  //////////////////////////////////////////////////////////////////////*/

.seccion2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
    height: 300px;
}

.seccion2 h1 {
    margin: 5px 0 10px 0;
    color: #152F48;
    font-size: 18px;
}

/* Contenedores de los libros  ////////////////////////////////////////////////////////////////////////*/

.column {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 320px;
    height: 100px;
    padding: 3px;
    border: 1px solid #999;
}

.column p {
    color: #737273;
}

/* Imagenes de los libros  ///////////////////////////////////////////////////////////////////////////*/

.imagen-libro {
    height: 55px;
    width: 65px;
    object-fit: contain;
    border: 2px solid #999;
    background-color: #D9D9D9;
}

/* Información del libro  /////////////////////////////////////////////////////////////////////////////*/

.divrow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 245px;
    height: 100%;
    padding-left: 15px;
}

/* Contenedor superior del título y autor /////////////////////////////////////////////////////////////*/

.divrow-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Contenedor inferior de "Ver más..." y botón ///////////////////////////////////////////////////////*/

.divrow-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}


.divrow p {
    font-size: 10px;
    font-weight: bold;
    color: #333;
    margin-bottom: 3px;
}

.divrow a {
    color: #295FA7;
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
}

.divrow a:hover {
    text-decoration: underline;
}

/* Titulos y autores  /////////////////////////////////////////////////////////////////////////////////*/

.titulo-libro {
    font-weight: bolder;
    color: black;
}

.gris {
    color: #C8C8C7;
}

/* Botones +  /////////////////////////////////////////////////////////////////////////////////////////*/

.btnmas {
    background-color: #152F48;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-top: 0;
    margin-left: 8px;
    color: white;
    border: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.btnmas:hover {
    background-color: #295FA7;
}